env: Development # | Production | Development
port: 8081
tax: 11

# AUTH
auth:
  expireAccessToken: 3d
  expireRefreshToken: 6d
  secret: vzThJNyvMp2kV3H5
  secretClaim: vzThJNyvMp2kV3H5

# POSTGRES
postgres: # LOCAL
  username: root
  password: root
  sslMode: disable
  host: postgresql
  port: 5432
  dbName: database